<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ name }} (#{{ bestiary_index }})</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <h1>{{ name }} (#{{ bestiary_index }})</h1>
      <p>"{{ description }}"</p>
    </div>
    <div class="row">
      <img src="../../Magikrab.png" class="img-fluid" alt="Sprite of {{ name }}"
        style="image-rendering: pixelated; max-width: 200px; max-height: 200px;">
    </div>
    <div class="row">
      <div class="container" style="max-width: 250px;">
        <div class="row">
          <div class="col">
            <p><b>Type</b></p>
          </div>
          <div class="col">
            <p>{{ elemental_type }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h2>In-Game Bio</h2>
      <p>{{ bestiary_bio_1 }}</p>
      <p>{{ bestiary_bio_2 }}</p>
    </div>
    <div class="row">
      <h2>Stats</h2>
      <div class="container" style="max-width: 250px;">
        <div class="row">
          <div class="col">
            <p><b>Max HP</b></p>
          </div>
          <div class="col">
            <p>{{ max_hp }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><b>M. Atk</b></p>
          </div>
          <div class="col">
            <p>{{ melee_attack }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><b>M. Def</b></p>
          </div>
          <div class="col">
            <p>{{ melee_defense }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><b>R. Atk</b></p>
          </div>
          <div class="col">
            <p>{{ ranged_attack }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><b>R. Def</b></p>
          </div>
          <div class="col">
            <p>{{ ranged_defense }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><b>Speed</b></p>
          </div>
          <div class="col">
            <p>{{ speed }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><b>Total</b></p>
          </div>
          <div class="col">
            <p>{{ stat_total }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><b>Max AP</b></p>
          </div>
          <div class="col">
            <p>{{ max_ap }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><b>Move Slots</b></p>
          </div>
          <div class="col">
            <p>{{ move_slots }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row table-responsive">
      <table class="table" data-toggle="table">
        <thead>
          <tr>
            <th style="white-space: nowrap;" scope="col" data-sortable="true">Name</th>
            <th style="white-space: nowrap;" scope="col" data-sortable="true">Type</th>
            <th style="white-space: nowrap;" scope="col" data-sortable="true">Category</th>
            <th style="white-space: nowrap;" scope="col" data-sortable="true">Power</th>
            <th style="white-space: nowrap;" scope="col" data-sortable="true">Accuracy</th>
            <th style="white-space: nowrap;" scope="col" data-sortable="true">Use Cost</th>
          </tr>
        </thead>
        <tbody>
          {% for move in compatible_moves %}
          <tr>
            <td style="white-space: nowrap;">{{ move.name }}</td>
            <td style="white-space: nowrap;">{{ move.type }}</td>
            <td style="white-space: nowrap;">{{ move.category }}</td>
            <td style="white-space: nowrap;">{{ move.power }}</td>
            <td style="white-space: nowrap;">{{ move.accuracy }}</td>
            <td style="white-space: nowrap;">{{ move.cost }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
</body>

</html>