{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-center" style="text-align: center;">
    <h1>{{ name }} (#{{ bestiary_index }})</h1>
    <p>"{{ description }}"</p>
  </div>
  {% if monster_sprite_path != "" %}
  <div class="row justify-content-center">
    <img src="{{ monster_sprite_path }}" alt="Sprite of {{ name }}"
      style="image-rendering: pixelated; max-width: 200px; max-height: 200px; display: block; margin-left: auto; margin-right: auto;">
  </div>
  {% endif %}
  <div class="row justify-content-center">
    <table class="table" style="max-width: 250px;">
      <tr>
        <th>
          <p>Type</p>
        </th>
        <td>
          <p>{{ elemental_type }}</p>
        </td>
      </tr>
    </table>
  </div>
  <div class="row">
    <h2>In-Game Bio</h2>
    <p>{{ bestiary_bio_1 }}</p>
    <p>{{ bestiary_bio_2 }}</p>
  </div>
  <div class="row justify-content-center">
    <h2>Stats</h2>
    <table class="table" style="max-width: 250px;">
      <tr>
        <th>
          <p>Max HP</p>
        </th>
        <td>
          <p>{{ max_hp }}</p>
        </td>
      </tr>
      <tr>
        <th>
          <p>M. Atk</p>
        </th>
        <td>
          <p>{{ melee_attack }}</p>
        </td>
      </tr>
      <tr>
        <th>
          <p>M. Def</p>
        </th>
        <td>
          <p>{{ melee_defense }}</p>
        </td>
      </tr>
      <tr>
        <th>
          <p>R. Atk</p>
        </th>
        <td>
          <p>{{ ranged_attack }}</p>
        </td>
      </tr>
      <tr>
        <th>
          <p>R. Def</p>
        </th>
        <td>
          <p>{{ ranged_defense }}</p>
        </td>
      </tr>
      <tr>
        <th>
          <p>Speed</p>
        </th>
        <td>
          <p>{{ speed }}</p>
        </td>
      </tr>
      <tr>
        <th>
          <p>Total</p>
        </th>
        <td>
          <p>{{ stat_total }}</p>
        </td>
      </tr>
      <tr>
        <th>
          <p>Max AP</p>
        </th>
        <td>
          <p>{{ max_ap }}</p>
        </td>
      </tr>
      <tr>
        <th>
          <p>Move Slots</p>
        </th>
        <td>
          <p>{{ move_slots }}</p>
        </td>
      </tr>
    </table>
  </div>
  <div class="row table-responsive">
    <h2>Moves</h2>
    <table class="table" data-toggle="table">
      <thead>
        <tr>
          <th style="white-space: nowrap;" scope="col" data-sortable="true">Name</th>
          <th style="white-space: nowrap;" scope="col" data-sortable="true">Type</th>
          <th style="white-space: nowrap;" scope="col" data-sortable="true">Category</th>
          <th style="white-space: nowrap;" scope="col" data-sortable="true">Power</th>
          <th style="white-space: nowrap;" scope="col" data-sortable="true">Accuracy</th>
          <th style="white-space: nowrap;" scope="col" data-sortable="true">Use Cost</th>
        </tr>
      </thead>
      <tbody>
        {% for move in compatible_moves %}
        <tr>
          <td style="white-space: nowrap;"><a href="{{ move.link }}">{{ move.name }}</a></td>
          <td style="white-space: nowrap;">{{ move.type }}</td>
          <td style="white-space: nowrap;">{{ move.category }}</td>
          <td style="white-space: nowrap;">{{ move.power }}</td>
          <td style="white-space: nowrap;">{{ move.accuracy }}</td>
          <td style="white-space: nowrap;">{{ move.cost }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}