{% extends "base.html" %}
{% block navbar %}
<div class="row mt-4 navbar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ move_root_link }}">{{ move_root }}</a></li>
      <li class="breadcrumb-item">Moves</li>
      <li class="breadcrumb-item active" aria-current="page">{{ name }}</li>
    </ol>
  </nav>
</div>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center mt-4" style="text-align: center;">
    <h1>{{ name }}</h1>
  </div>
  <div class="row justify-content-center">
    <table class="table" style="max-width: 250px;">
      <tr>
        <th>
          <p>Type</p>
        </th>
        <td>
          <p>{{ elemental_type }}</p>
        </td>
      </tr>
    </table>
  </div>
  <div class="row">
    <h2>Description</h2>
    <p>{{ description }}</p>
  </div>
  <div class="row table-responsive">
    <h2>Monsters</h2>
    <table class="table" data-toggle="table">
      <thead>
        <tr>
          <th style="white-space: nowrap;" scope="col" data-sortable="true">Species</th>
          <th style="white-space: nowrap;" scope="col" data-sortable="true">Num</th>
          <th style="white-space: nowrap;" scope="col" data-sortable="true">Type</th>
        </tr>
      </thead>
      <tbody>
        {% for monster in compatible_monsters %}
        <tr>
          <td style="white-space: nowrap;"><a href="{{ monster.link }}">{{ monster.name }}</a></td>
          <td style="white-space: nowrap;">{{ monster.bestiary_index }}</td>
          <td style="white-space: nowrap;">{{ monster.type }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}